<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Создать аккаунт</title>
    <style>
      .button-row {
        display: flex;
        gap: 20px; /* расстояние между кнопками */
        align-items: center;
        margin-top: 15px; /* отступ сверху, отделяющий кнопки от поля */
      }

      form {
        margin: 0;
      }

      .form-group {
        margin-bottom: 15px; /* отступ снизу у лейбла и инпута */
      }

      label {
        margin-right: 10px; /* отступ справа у лейбла */
      }
    </style>
  </head>
  <body>
    <h1>Привет, еще раз!</h1>
    <p>Напиши свое имя, чтобы получать приятное предсказание!</p>

    <form method="post" action="/save_user">
      <div class="form-group">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <input
        type="hidden"
        id="session_uuid"
        name="session_uuid"
        value="{{ id }}"
      />

      <div class="button-row">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button
          type="submit"
          formaction="/get_prediction"
          formmethod="post"
          class="btn btn-primary"
          formnovalidate
        >
          Получить предсказание
        </button>
      </div>
    </form>
  </body>
</html>
