<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Главная страница</title>
    <style>
      .button-row {
        display: flex;
        gap: 20px; /* расстояние между кнопками */
        align-items: center;
      }

      form {
        margin: 0; /* убрать лишние отступы форм */
      }
    </style>
  </head>
  <body>
    <h1>Привет, мой хороший! Я бот-мотиватор</h1>
    <p>
      Я буду тебя поддерживать в трудную минуту и давать прогноз на текущий
      день.
    </p>
    <div class="button-row">
      <form method="post" action="/get_prediction">
        <input type="hidden" name="name" value="{{ name }}" />
        <input type="hidden" name="session_uuid" value="{{ id }}" />
        <input type="hidden" name="date_prediction" id="date_prediction" />
        <input type="hidden" name="timezone" id="timezone" />
        <button type="submit" class="btn btn-primary">
          Получить предсказание
        </button>
      </form>
      <form method="post" action="/create_user">
        <input type="hidden" name="session_uuid" value="{{ id }}" />
        <button type="submit" class="btn btn-primary">Создать аккаунт</button>
      </form>
    </div>
    <script>
      // При загрузке страницы или перед отправкой формы запишем значения времени и зоны

      const localDateTime = new Date().toISOString(); // Текущее время в UTC ISO формате
      const userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone; // Временная зона пользователя

      // Присваиваем значения скрытым полям формы
      document.getElementById("date_prediction").value = localDateTime;
      document.getElementById("timezone").value = userTimeZone;

      // При необходимости можно обновить эти значения перед отправкой формы
      document
        .getElementById("prediction-form")
        .addEventListener("submit", () => {
          document.getElementById("date_prediction").value =
            new Date().toISOString();
          document.getElementById("timezone").value =
            Intl.DateTimeFormat().resolvedOptions().timeZone;
        });
    </script>
  </body>
</html>
